/* -----------------------------------*/
/* OFERTA LIMITADA */
/* -----------------------------------*/
.oferta-limitada{
    width: 100%;
    text-align: center;
    background-color: #8ED1DC;
    font-size: 0.8em;
    padding: 1em;
   
}
.en-cualquier-momento{
    font-weight:700;
    letter-spacing: 0.4px;
    line-height: 2em;
}

#countdown{
    font-weight:700;
    font-size: 1.2em;
    
}

/* ------------------------------------*/
/* Componente reutilizables*/
/* ------------------------------------*/

.row{
    padding: 0px 30px;
}

/* ----------------------------------*/

#navBar{
    padding-top: 10px;
    background-color: white;
    border-bottom: 1.3px solid rgba(0, 0, 0, 0.096);
    height: 3.6em;
    box-shadow: 0px 1.5px 12px rgba(0, 0, 0, 0.171);

}

.main-nav>  a{
    color:black; 
}


.main-nav{
   
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    font-size: 80%;
}

.search{
    border: 1px solid #989586;
    border-radius: 130px;
    height: 50px;
    height: 50px;
    min-width: 400px;
    width: 500px;
    max-width: 700px;
    padding: 13px 30px;
    font-size: 75%;
    background: #FBFBF8;
}
.search p{
    margin-left: 10px;
    display: inline-block;
}

.main-nav li {
    display: inline-block;
    margin-left:40px;
    
}

.contain__showPefil{
    display: flex;
    align-items: center;
   
}
.img__perfil{
  width: 34px;
  margin-right: 0.6em;
}
.lista__miPerfil{
    background-color:#F4F4F4 ;
    border-radius: 0.4em;
    border:1px solid #F4F4F4 ;
    position: absolute;
    right: 2.75em;
    width: 190px;
    display: flex;
    flex-wrap: wrap;
}
.lista__miPerfil li:nth-child(1){
    width: 100%;
    height: 3em;
    margin-left: 0px;
}
.lista__miPerfil li >a{
    display: block;
    width: 100%;
    height: 100%;
   
}

#id_liNav{
    padding:0.8em 0em 0.8em 1.3em;
    width: 100%;
    margin:0px;
    background-color: #EFEFEF;
}


#li__cerrarSesion{
    width: 100%;
    height: 3em; 
    margin-left: 0px;

}
.btn_verPerfil{
    border:none;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: left;
    padding-left: 1.4em;
}
.row{
   color:white; 
}

.titulo_Navbar{
    color:white;
}