.container_NewPassword{
    width: 50%;
    margin:auto;
    margin-top: 7em;
    border: 1px solid rgba(148, 147, 147, 0.226);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.226);
    padding: 1em;
}
.container_NewPassword h1{
    font-size: 1.5em;
    margin-bottom: 1em;

}

.container_NewPassword p{
    padding-left: 0.4em;
    margin-bottom: 1em;
}

.title_NewPassword{
    text-align: center;
}

.container_NewPassword button{
    padding: 0.8em;
    display: block;
    margin: auto;
    margin-top: 2em;
    background-color: #3F51B5;
    border:none;
    font-size: 0.8em;
    color:white;
    border-radius: 4px;
}
