.btn-respuesta{
    color:#7781FF;
    border:none;
    padding: 1em;
    background-color: #fff;
    font-size: 80%;
    margin-left: 1.6em;
}


/* respuesta*/
.contenedor_respuesta{
    width: 90%;
    margin-left: 1.9em;
}

.calificacion{
    font-size: 0.5em;
    color:white;
    margin-left: 0.5em;
}
.container_Calificacion{
    padding:0.2em;
    font-weight: 500;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    border-radius: 0.2em;
    cursor: pointer;
}

.container_Calificacion :hover{
    color:gray;
}

#starVideo{
    font-size: 0.6em;
}

#icon_videoReproductor{
    color:white;
    margin-right: 0.5em;
    font-size: 1.5em;
    border-right:1px solid white;
    padding-right: 0.8em ;
}