/*---------REPRODUCTOR DE VIDEOS---------------*/
button{
    cursor: pointer;
}

.container-seccion-video{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1em;
}


.reproductor-left{
    width: 20%;
    height: 86.5vh;
    font-size: 85%;
    position: fixed;
    top:13%;
    z-index: 1;
    overflow-y:scroll;
    
}
.reproductor-left::-webkit-scrollbar{
    width:9px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
.reproductor-left::-webkit-scrollbar-thumb{
    background: #706c61;
    border-radius: 4px;
}
.reproductor-left::-webkit-scrollbar-track{
    background: #e1e1e1;

}

/*RESPONSIVE VIDEO */
@media only screen and (max-width: 1250px) {
    .reproductor-left{
        display: none;
    }
    .reproductor-right{
        width: 99% !important;
    }
  }


.reproductor-right{
    position: absolute;
    width: 80%;
    right: 0;
    z-index: 0;
    top:12.5%;
}
.volver-clases-curso{
    background-color: #F9F8FF;
    display: flex;
    align-items: center;
    padding-left: 1em;
    height: 3em;
    font-weight: 600;
    width: 100%;
}
.volver-clases-curso p{
    margin-left: 1em;
}

.titulo-modulo{
   background-color:#212429 ;
  color:#3E69FF;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  font-size: 90%;
  font-weight: 700;
}

.videos-left{
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    font-size: 90%;
    font-weight: 600;
    align-items: center;
}
.videos-left i{
    margin-right: 1em;
}

.footer-reproductor{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding:0.8em 2em;
     align-items: center;
  
}

@media only screen and (max-width: 505px) {
    .footer-botones{
        margin-top: 1em;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-botones button{
        margin-top: 1em;
    }
    .footer-reproductor h3{
        margin: auto;
    }
}

.footer-reproductor button{
   background-color: #fff;
   border:none;
   font-size: 80%;
   font-weight: 600;
   width: 8em;
   cursor: pointer;
}
.Anterior i{
    margin-right: 1em;
}
.Siguiente i{
   margin-left: 1em;
}
.descrip-video{
    margin-left: 1.9em;
} 
.descrip-video p{
   width: 100%;
   padding-right:1.5em ;
   word-wrap: break-word;
}

.reproductor-video{
    width: 98.5%;
    height: auto; /*auto*/
}

.video-js ,.vjs-big-play-centered{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}


.navbar-preview{
    width: 100%;
    height:12.7%;
    background-color:#212429 ;
    color:#3F69FF;
    font-size: 1.7em;
    font-weight: 700;
    align-items: center;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0em 0.8em;
}
.navbar-preview-titulo{
    display: flex;
    flex-wrap: wrap;
    
}
.navbar-preview-titulo p{
    white-space: nowrap;
    width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
@media only screen and (max-width: 992px) {
    .navbar-preview-titulo{
        display:none;
    }
}
/*VIDEO JS */

.video-js .vjs-control-bar{
    width: 96%;
    left: 2%;
    right: 1%;
    background-color: transparent;
}
.video-js .vjs-play-control {
    background-color: #232325;
    padding-top: 1em;
    margin-right: 1em;
    width: 7em;
    height: 4em;
    border-radius: 10px;
}

.video-js .vjs-control{
    background-color: #232325;
}

.video-js .vjs-progress-control{
    background-color: #232325;
}

.vjs-control-bar{
    height: 4em !important;
    margin-bottom: 1em;
    
}

.vjs-progress-holder{
    height:1em !important; 
    border:1px solid gray;
}
.video-js .vjs-play-progress{
    background-color: #3F69FF;
}

.vjs-button > .vjs-icon-placeholder:before{
  line-height: 1.7;
  font-size: 2.3em;
}
.video-js .vjs-time-control{
    line-height: 4;
}
.video-js .vjs-play-progress:before{
    display: none ;
}




/*VIDEO LEFT*/
.txt_clasesDelCurso{
    padding: 14px;
    font-weight: 500;
}

.container_txt_ClasesDelCurso{
    display: flex;
    align-items: center;
    padding-left:1.3em;

}


/*************************/
.main{
    height: 100%;
    overflow: hidden;
}

.video-box{
    width: 100%;
    height: 100%;    
}

.video{
    
}

.video video{
    width: 100%;
    height: auto;
}